.pokemon-list{
	list-style-type: none;
}

.button-class {
  background-color: #4caf50;
  color: white;
  padding: 10px
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;
  color: #2aabea;
  border: 8px solid #FD5E66;
  width: 75vw;
  border-radius: 0.5em;
}

* {
	box-sizing: border-box;
}
